<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
  <h1 class="page-header">Employee Udemy Data</h1>
  <hr>
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Date Last Accessed</th>
        <th>Course Title</th>
        <th>Minutes Spent In Course (Videos Only)</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee : ${employees} ">
        <td th:text="${employee.name}">1</td>
        <td th:text="${employee.lastActivity}">1</td>
        <td th:text="${employee.courseName}">1</td>
        <td th:text="${employee.minutesSpent}">1</td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>